// Object2{{NAME}}Map Extensions
inline fun <K> mutableObject2{{NAME}}MapOf(vararg pairs: Pair<K, {{NAME}}>) =
    Object2{{NAME}}OpenHashMap<K>(pairs.size).apply { putAll(pairs) }
inline fun <K> mutableObject2{{NAME}}MapOf() = Object2{{NAME}}OpenHashMap<K>()
inline fun <K> mutableObject2{{NAME}}MapOf(capacity: Int) = Object2{{NAME}}OpenHashMap<K>(capacity)
inline fun <K> object2{{NAME}}MapOf(vararg pairs: Pair<K, {{NAME}}>) =
    mutableObject2{{NAME}}MapOf(*pairs).freeze()
inline fun <K> object2{{NAME}}MapOf() = emptyObject2{{NAME}}Map<K>()
inline fun <K> emptyObject2{{NAME}}Map(): @Unmodifiable Object2{{NAME}}Map<K> =
    Object2{{NAME}}Maps.emptyMap()
inline fun <K> Object2{{NAME}}Map<K>.synchronize(): Object2{{NAME}}Map<K> =
    Object2{{NAME}}Maps.synchronize(this)
inline fun <K> Object2{{NAME}}Map<K>.freeze(): @UnmodifiableView Object2{{NAME}}Map<K> =
    Object2{{NAME}}Maps.unmodifiable(this)
inline fun <K> Object2{{NAME}}Map<out K>.toMutableObjectList(): ObjectList<Pair<K, {{NAME}}>> {
    if (isEmpty()) return emptyObjectList()
    val list = ObjectArrayList<Pair<K, {{NAME}}>>(size)
    forEach { k, v -> list.add(k to v) }
    return list
}
inline fun <K> Object2{{NAME}}Map<out K>.toObjectList(): ObjectList<Pair<K, {{NAME}}>> =
    toMutableObjectList().freeze()
